In [1]:
import findspark
findspark.init('/usr/local/spark')
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName("df_basics").getOrCreate()

In [6]:
df=spark.read.json('people.json')

In [7]:
df

DataFrame[age: bigint, name: string]

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

In [10]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [11]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [ ]:
#if we need to change schema and not to take the predefined schema

In [12]:
from pyspark.sql.types import StructField, StructType,StringType,IntegerType

In [14]:
data_schema=[StructField("age",IntegerType(),nullable=False),
            StructField("name",StringType(),True)]

In [16]:
final_schema=StructType(fields=data_schema)

In [17]:
df=spark.read.json('people.json',schema=final_schema)

In [18]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
df.printSchema() #bug

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [20]:
df.dropna().show()

+---+------+
|age|  name|
+---+------+
| 30|  Andy|
| 19|Justin|
+---+------+

In [22]:
 df.createOrReplaceTempView('peeps') #for sql we need to create view #not dynamic when we change the database we have to run the code for view also again

In [23]:
spark.sql("SELECT * FROM peeps WHERE AGE>20").show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [24]:
type(df['Age'])

pyspark.sql.column.Column

In [25]:
df.select(['Age','name']).show()

+----+-------+
| Age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [26]:
df.withColumn('agesquared',df['Age']*2).show()#new column

+----+-------+----------+
| age|   name|agesquared|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+